.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /*padding-top: 100px; !* Location of the box *!*/
    left: 0;
    top: 10%;
    /*width: 60%; !* Full width *!*/
    /*height: 60%; !* Full height *!*/
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
}

/* Modal Content */
.modal-content {
    /*position: relative;*/
    background-color: #fefefe;
    /*margin: fill;*/
    /*padding: 0;*/
    /*border: 1px solid #888;*/
    width: 100%;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);*/
    /*-webkit-animation-name: animatetop;*/
    /*-webkit-animation-duration: 0.4s;*/
    /*animation-name: animatetop;*/
    /*animation-duration: 0.4s*/
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: #1c7e75;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 4px 20px;
    background-color: #FFB343;
    color: #1c7e75;
}

.modal-body {
    overflow: auto; /* Enable scroll if needed */
    padding: 4px 20px;
}

.modal-footer {
    /*padding: 2px 16px;*/
    /*background-color: #5cb85c;*/
    color: white;
}