extends layout
mixin vislink(visname, disabled)
	a(href=disabled || !name ? '#' : '/' + visname, onmouseover='(function display(){DisplayDetails(\''+ visname +'\')})()')
		if disabled || !name
			div.card-image.disabled
				img(src='/images/' + visname + '.jpg')
				span=lang.vis_details.short[visname]
		else
			div.card-image
				img(src='/images/' + visname + '.jpg')
				span=lang.vis_details.short[visname]

block content
	.div.modal(id="myModal")
		.div.modal-content
			.div.modal-header
				.close &times;
				h5=lang.stats.title
			.div.modal-body
				ul.collection.with-header.z-depth-1
					li.collection-item
						div
							span=lang.stats.publishingBegginingYear
							if(statistics)
								span#works-amount-display(style='float: right') #{statistics.publishingBegginingYear}
							else
								span#works-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.sum
							if(statistics)
								span#works-amount-display(style='float: right') #{statistics.sumOfWorks}
							else
								span#works-amount-display(style='float: right') -

					li.collection-item
						div
							span=lang.stats.pointSum
							if(statistics)
								span#ministerial-points-amount-display(style='float: right') #{statistics.sumOfPoints}
							else
								span#ministerial-points-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.pointAverage
							if(statistics)
								span#mean-ministerial-points-amount-display(style='float: right') #{statistics.pointsAverage}
							else
								span#mean-ministerial-points-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.coauthors
							if(statistics)
								span#coworkers-amount-display(style='float: right') #{statistics.coauthorsAmount}
							else
								span#coworkers-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.impactFactor
							if(statistics)
								span#coworkers-amount-display(style='float: right') #{statistics.impactFactor}
							else
								span#coworkers-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.conferencePapersAmount
							if(statistics)
								span#coworkers-amount-display(style='float: right') #{statistics.conferencePapersAmount}
							else
								span#coworkers-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.openAccessPapersAmount
							if(statistics)
								span#coworkers-amount-display(style='float: right') #{statistics.openAccessPapersAmount}
							else
								span#coworkers-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.engToPlPapersRatio
							if(statistics)
								span#coworkers-amount-display(style='float: right') #{statistics.engToPlPapersRatio}
							else
								span#coworkers-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.main_coauthor
							if(statistics)
								span#max-shared-works-amount-display(style='float: right') #{statistics.mainCoauthor}
							else
								span#max-shared-works-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.conferencePapersRatio
							if(statistics)
								span#max-shared-works-amount-display(style='float: right') #{statistics.conferencePapersRatio}
							else
								span#max-shared-works-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.openAccessPapersRatio
							if(statistics)
								span#max-shared-works-amount-display(style='float: right') #{statistics.openAccessPapersRatio}
							else
								span#max-shared-works-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.rangeOfNationalCooperation
							if(statistics)
								span#max-shared-works-amount-display(style='float: right') #{statistics.rangeOfNationalCooperation} [#{lang.stats.for_word} #{(statistics.percentageOfComputedWorksForNationalityOfPapers * 100).toFixed(2)}% #{lang.stats.publications}]
							else
								span#max-shared-works-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.rangeOfInternationalCooperation
							if(statistics)
								span#max-shared-works-amount-display(style='float: right') #{statistics.rangeOfInternationalCooperation} [#{lang.stats.for_word} #{(statistics.percentageOfComputedWorksForNationalityOfPapers * 100).toFixed(2)}% #{lang.stats.publications}]
							else
								span#max-shared-works-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.coreCollaboration10
							if(statistics)
								span#max-shared-works-amount-display(style='float: right') #{statistics.coreCollaboration10}
							else
								span#max-shared-works-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.scatteringFactor
							if(statistics)
								span#max-shared-works-amount-display(style='float: right') #{statistics.scatteringFactor}
							else
								span#max-shared-works-amount-display(style='float: right') -
					li.collection-item
						div
							span=lang.stats.multidisciplinaryAreaOfScientificInterests
							if(statistics)
								span#max-shared-works-amount-display(style='float: right') #{statistics.multidisciplinaryAreaOfScientificInterests} [#{lang.stats.for_word} #{(statistics.percentageOfComputedWorksForMasi * 100).toFixed(2)}% #{lang.stats.publications}]
							else
								span#max-shared-works-amount-display(style='float: right') -
			.div.modal-footer
				.row
					.btn(onclick='Export()', id="exportButton")="EXPORT"
	.row.main-row
		.col.s7(style='margin-top: 20px')
			.row
				if !group
					#row1.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('works')
						.card.white-text
							+vislink('research-map')
					#row2.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('collab')
						.card.white-text
							+vislink('bubbles')
					#row3.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('google-map')
						.card.white-text
							+vislink('wordcloud')
				else
					#row1.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('works')
						.card.white-text
							+vislink('research-map')

					#row2.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('collab')
						.card.white-text
							+vislink('bubbles')
					#row3.col.s4
						.card.white-text(style='margin-bottom: 20px')
							+vislink('google-map')
						.card.white-text
							+vislink('wordcloud')

		.col.s5(style='height: 100%; padding-right: 0')
			.z-depth-1.vis-select
				if !!name
					.row
						a.btn(href='/clearWorks')=lang.clear_works
				else
					.row
						a.btn(href='https://bg.cm.umk.pl/expertus/umk/')=lang.get_data
				.row
					ul.collection.with-header.z-depth-1
						li.collection-header
							h5=lang.stats.title
						li.collection-item
							div
								span=lang.stats.publishingBegginingYear
								if(statistics)
									span#works-amount-display(style='float: right') #{statistics.publishingBegginingYear}
								else
									span#works-amount-display(style='float: right') -
						li.collection-item
							div
								span=lang.stats.sum
								if(statistics)
									span#works-amount-display(style='float: right') #{statistics.sumOfWorks}
								else
									span#works-amount-display(style='float: right') -

						li.collection-item
							div
								span=lang.stats.pointSum
								if(statistics)
									span#ministerial-points-amount-display(style='float: right') #{statistics.sumOfPoints}
								else
									span#ministerial-points-amount-display(style='float: right') -
						li.collection-item
							div
								span=lang.stats.pointAverage
								if(statistics)
									span#mean-ministerial-points-amount-display(style='float: right') #{statistics.pointsAverage}
								else
									span#mean-ministerial-points-amount-display(style='float: right') -
						li.collection-item
							div
								span=lang.stats.coauthors
								if(statistics)
									span#coworkers-amount-display(style='float: right') #{statistics.coauthorsAmount}
								else
									span#coworkers-amount-display(style='float: right') -
						li.collection-item
							div
								span=lang.stats.impactFactor
								if(statistics)
									span#coworkers-amount-display(style='float: right') #{statistics.impactFactor}
								else
									span#coworkers-amount-display(style='float: right') -
				.row
					.btn(onclick='OpenModal()', id="myBtn")=lang.show_more_statistics_button


block append scripts
	script(type='text/javascript').
		var jsStrings = !{JSON.stringify(lang.scriptable)};
	script(src="/js/index.js")


