extends layout
block extraCssForMap
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="")
    link(rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" crossorigin="")
    link(rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" crossorigin="")
block content
    .row.main-row
        .col.s3.vis-details.z-depth-1(style='padding-left: 0')
            .row
                .card
                    .card-content.white-text
                        p=lang.vis_details.long[visname]

            .row(style='padding-left: 10px;')
                button.btn(id="generatePdfMapBtn")=lang.generate_pdf
        //.col.s9.svg-container
        //	svg#svg-port.z-depth-1.svg-port
        .col.s9.svg-container
            #map(style='height: 100%; padding: 20px')
block append scripts
    script(src='https://unpkg.com/leaflet@1.7.1/dist/leaflet.js' integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin="")
    script(src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster-src.js" crossorigin="")
    script(src="https://unpkg.com/leaflet-simple-map-screenshoter@0.4.5/dist/leaflet-simple-map-screenshoter.js")
    script(src='/dist/google-map.js')



