html
	head
		link(rel='icon', href='../../favicon.ico')
		link(type='text/css', rel='stylesheet', href='/css/materialize.min.css', media='screen,projection')
		link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
		link(href='/font-awesome-4.6.3/css/font-awesome.min.css', rel='stylesheet')
		link(rel='stylesheet', href='/css/example-styles.css')
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='/css/modal.css')

		link(rel='apple-touch-icon', sizes='180x180', href='/favicons/apple-touch-icon.png')
		link(rel='icon', type='image/png', sizes='32x32', href='/favicons/favicon-32x32.png')
		link(rel='icon', type='image/png', sizes='16x16', href='/favicons/favicon-16x16.png')
		link(rel='manifest', href='/favicons/manifest.json')
		link(rel='mask-icon', href='/favicons/safari-pinned-tab.svg', color='#5bbad5')
		link(rel='shortcut icon', href='/favicons/favicon.ico')
		meta(name='msapplication-config', content='/favicons/browserconfig.xml')
		meta(name='theme-color', content='#ffffff')
		meta(charset="utf-8")
		block extraCssForMap

	body
		.row.top-nav.z-depth-1
			img(src="/images/logo200.png" style="float:left; height: 90%; margin-top: 5px; margin-right: 10px")
			div(style='float: left; height: 50px')
				ul
					li
						a.main-title(href='/')=lang.title
					li.alt-title
			if(visname)
				div(style='float: right; height: 50px')
					a(href='/')
						i.fa.fa-arrow-left.back-arrow(aria-hidden='true')

			else
				div.upload-btn
					if(group)
						.file-input-container
							a.dropdown-trigger.btn(href='#', data-target='dropdown1')=lang.group.choose_department

						ul#dropdown1.dropdown-content
							each dept in saved
								li
									a(href='/loadSaved/' + dept._id.toString())=dept.shortName
					else
						form(method='post', action='/upload', enctype='multipart/form-data')
							.file-field.input-field.btn=lang.select_file
								input#file-input(type='file', name='expertus', onchange='StartUpload()')
							input#file-input-submit(type='submit', hidden='hidden')
			.top-link
				a(href='/' + lang.other)=lang.alt_lang
			.top-link
				a(href='/info/about')=lang.about
			.top-link
				a(href='/info/goals')=lang.goals
			.top-link
				a(href='https://bg.cm.umk.pl/expertus/umk/', target="_blank")=lang.data
			.top-link
				a(href='/examples/tutorial.pdf', target="_blank")=lang.tutorial

			div(style='margin-left: auto; margin-right: auto;padding-top: 5px;  width: 300px; height:5em')
				ul
					li#query-name-caption(style='margin-top: -15px;')=name ? lang.visualising_for : ''
					li
						#query-name-container.name-display=name ? name : ''

		block content

		.footer
			span='App version 2022.1.0 Icons by FontAwesome, visualisations based on d3.js'
			span(style="float:right") by UMK IDUB (2022)
			img(src="/images/license.png", style="margin-top: 1px; height: 90%; float: right; margin-right: 10px")


block scripts
	script(src='/js/dependencies/jquery-3.1.0.min.js')
	script(src='/js/dependencies/pdfkit.js')
	script(src='/js/dependencies/svgtopdfkit.js')
	script(src="/js/dependencies/markerclusterer.js")
	script(src="/js/dependencies/materialize.min.js")
	script(type="text/javascript").
		function StartUpload() {
			$('#file-input-submit').click();
		}
		$nameContainer = $('#query-name-container')
		while ($nameContainer.height() > 45) {
			$nameContainer.css('font-size', (parseInt($nameContainer.css('font-size')) - 1) + 'px');
		}



